@charset 'utf-8'
@use '../s0__global' as *
@use '../s7__anime/logo' as *

.p-page-mv
  padding-top: rem(210)
@media (max-width: 768px)
  .p-page-mv
    padding-top: rem(100)

.p-page-mv__inner
  max-width: rem(1240)
  padding-left: rem(20)
  padding-right: rem(20)
  width: 100%
  margin-left: auto
  margin-right: auto

.p-page-mv__img
  margin-top: rem(50)
@media (max-width: 768px)
  .p-page-mv__img
    margin-top: rem(40)

.p-page-mv__img img
  width: 100%
  height: auto
  object-fit: cover
  object-position: center center
  border-radius: rem(30)
@media (max-width: 768px)
  .p-page-mv__img img
    border-radius: rem(20)
    aspect-ratio: 375 / 210

.p-page-mv__title-wrapper
  display: flex
  align-items: center
  gap: rem(30)

.p-page-mv__ttl
  width: fit-content
  display: inline-block
  font-size: rem(42)
  color: #000000
  font-weight: 700
@media (max-width: 768px)
  .p-page-mv__ttl
    font-size: rem(24)

.p-page-mv__text-wrapper
  margin-top: rem(60)
  max-width: rem(1040)
  width: 100%
  margin-inline: auto

.p-page-mv__text
  font-size: rem(16)
  color: #000000
  font-weight: 500
  line-height: 2
  letter-spacing: 0.05em

.p-page-mv__lists
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: rem(15)
  margin-top: rem(60)

@media (max-width: 768px)
  .p-page-mv__lists
    grid-template-columns: 1fr
    margin-top: rem(40)
    gap: rem(10)

.p-page-mv__list

.p-page-mv__link
  display: flex
  align-items: center
  justify-content: center
  gap: rem(26)
  background: #D0F1FF
  border-radius: rem(20)
  padding-top: rem(25)
  padding-bottom: rem(25)

.p-page-mv__link--maintenance
  background: #FFEFFB

.p-page-mv__link--environment
  background: #E4FCEB

.p-page-mv__link-text
  color: #000000
  font-size: rem(22)
  font-weight: 700

.p-page-mv__title
  color: #fff
  background: #1191BE
  border-top-left-radius: rem(30)
  border-bottom-right-radius: rem(30)
  font-size: rem(36)
  font-weight: 700
  padding-top: rem(27)
  padding-bottom: rem(27)
  padding-left: rem(40)
  padding-right: rem(40)
  text-align: center
  width: fit-content
  margin-left: auto
  margin-right: rem(40)
  letter-spacing: 0.05em
  margin-top: rem(-40)
  position: relative
  z-index: 1

@media (max-width: 768px)
  .p-page-mv__title
    font-size: rem(20)
    padding-top: rem(20)
    padding-bottom: rem(20)
    padding-left: rem(20)
    padding-right: rem(20)
    margin-top: rem(-20)

.p-page-mv__title--maintenance
  background: rgba($color: #B45D85, $alpha: 0.9)
.p-page-mv__title--maintenance2
  background: rgba($color: #689645, $alpha: 0.9)
.p-page-mv__strong
  width: rem(52)
.p-page-mv__strong img
  width: 100%
  height: auto
  object-fit: cover
  object-position: center center
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1))

.p-page-mv__subTitle-wrapper
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  gap: rem(12)
  padding: rem(30) rem(64)
  background: #fff
  border-radius: 9999px
  width: fit-content
  margin-left: auto
  margin-right: auto
  margin-top: rem(-56)

@media (max-width: 768px)
  .p-page-mv__subTitle-wrapper
    padding: rem(12) rem(40)
    margin-top: rem(-40)

.p-page-mv__subTitle
  color: #000
  font-size: rem(32)
  font-weight: 700

@media (max-width: 768px)
  .p-page-mv__subTitle
    font-size: rem(20)

.p-page-mv__icon
  width: rem(72)
  display: inline-block
.p-page-mv__icon--training
  width: rem(60)
.p-page-mv__icon img
  width: 100%
  height: auto
  object-fit: cover
  object-position: center center

.p-page-mv__introduce-wrapper
  margin-top: rem(40)
  max-width: rem(1170)
  width: 100%
  margin-inline: auto
  padding-left: rem(25)
  padding-right: rem(25)

.p-page-mv__introduce-text
  font-size: rem(18)
  color: #000000
  font-weight: 700
  line-height: calc( 27/18 )
  letter-spacing: 0.05em
