footer.l-footer
    .l-container--1200
        .l-footer__wrap
            a(href='#',target='_blank').l-footer__logo
                img(src='/recruit-site/assets/img/top/logo__01.webp')
            .l-footer__outer
                .l-footer__menu
                    .l-footer__menu__outer
                        .l-footer__menu__inner
                            a(href='/recruit-site/environment/').l-footer__menu__item.-ttl フジヨシの環境事業
                        .l-footer__menu__inner
                            a(href='/recruit-site/work/').l-footer__menu__item.-ttl 仕事を知る
                            a(href='/recruit-site/work/construction.html').l-footer__menu__item.-deta 施工管理
                            a(href='/recruit-site/work/maintenance.html').l-footer__menu__item.-deta メンテナンス
                            a(href='/recruit-site/work/envr-measure.html').l-footer__menu__item.-deta 環境測定
                        .l-footer__menu__inner
                            a(href='/recruit-site/company/').l-footer__menu__item.-ttl 会社を知る
                            a(href='/recruit-site/company/number.html').l-footer__menu__item.-deta 数字でみるフジヨシ
                            a(href='/recruit-site/company/training.html').l-footer__menu__item.-deta 研修制度
                            a(href='/recruit-site/company/welfare.html').l-footer__menu__item.-deta 福利厚生
                            a(href='/recruit-site/company/question.html').l-footer__menu__item.-deta Q&A
                .l-footer__bnner
                    .l-footer__bnner__outer
                        .l-footer__bnner__inner.-num__01
                            p.l-footer__bnner__ttl ENTRY&emsp;新卒採用
                            a(href='#',target='_blank')
                                .l-footer__bnner__img
                                    img(src='/recruit-site/assets/img/top/bnner-footer__01.webp')
                        .l-footer__bnner__inner.-num__02
                            p.l-footer__bnner__ttl ENTRY&emsp;キャリア採用
                            a(href='#',target='_blank')
                                .l-footer__bnner__img
                                    img(src='/recruit-site/assets/img/top/bnner-footer__02.webp')
            p.l-footer__copy © FUJIYOSHI. All rights reserved.


