-
    var TOP_PAGE = false
    var PAGE_TITLE = '● ● ● ページタイトル'
    var DESCRIPTION = '● ● ● ページの説明文'
    var SUB_DIRECTION = '/' + '● ● ●' + '/'

doctype html
html(lang='ja')
    include ../include/_head
    body
        include ../include/_header
        main.l-main.p-hoge
            section
                .l-container--1040
                    p(style='padding: 200px 0') コンテンツはここに入ります。こちらはダミー文のため削除してください
        include ../include/_footer